html, body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.header {
    background: #3c3633;
    height: 90px;
    margin: 0;
    padding: 0;
    color: #fce2c5;
    font-size: 20px;
    overflow: hidden;
}

.header img {
    float: left;
    margin: 10px 0 0 30px;
}

.header h1 {
    float: left;
    margin: 24px 0 0 30px;
}

.content {
    position: relative;
    bottom: 6px;
    max-width: 100%;
    min-height: 85%;
    margin: 10px 10px 10px 242px;
    padding: 5px;
    border: 1.5px solid #333;
    border-radius: 5px;
    color: #110010;
    box-shadow: 9px 10px 5px #e7e4d9;
    overflow:hidden;
}

.menu {
    float: left;
    border: 1.6px solid #333;
    border-radius: 5px;
    width: 220px;
    height: auto;
    padding: 5px 0 0 5px;
    margin: 5px 5px 5px 5px;
    background: #fffdf5;
    list-style: none;
    box-shadow: 9px 10px 5px #e7e4d9;
}
.menu li a {
    font-size: 16pt;
    color: #81353c;
    margin: 10px;
    font-weight: bold;
    line-height: 1.5;
    text-decoration: none;
}

.menu li a:hover {
    font-size: 18pt;
    color: #CC3300;
}

.menu li a:focus {
    font-size: 14pt;
    color: #CC5533;
}

.item {
    position:relative;
    float: left;
    border: 1.6px solid #333;
    border-radius: 5px;
    width: 240px;
    height: 300px;
    padding: 5px 5px 0 5px;
    margin: 3px 5px 5px 3px;
    background: #fffdf9;
    box-shadow: 9px 10px 5px #e7e4d9;
}

.item_1 {
    position:relative;
    float: center;
    border: 1.6px solid #333;
    border-radius: 5px;
    max-width: 100%;
    height: 300px;
    padding: 5px 5px 0 5px;
    margin: 5px auto 5px auto;
    background: #fffdf9;
    box-shadow: 9px 10px 5px #e7e4d9;
}

.main {
    float:left;
    min-width: 50%;
}

.item_list {
    position: relative;
    border: 1.6px solid #333;
    border-radius: 5px;
    min-width: 400px;
    max-width: 8000px;

    padding: 0 5px 0 5px;
    margin: 3px 5px 5px 3px;
    background: #fffdf9;
    box-shadow: 9px 10px 5px #e7e4d9;
}

.item p a{
    font-weight: bold;
    margin: 0 0 15px 5px;
    text-decoration: none;
    color: #000000;
}

.item p a:hover{
    color: #aa6600;
    font-size: 12.5pt;
}

.item p a:active{
    font-size: 11.5pt;
    color: #998877;
}


.choose {
position: absolute;
bottom: 5px;
right: 10px;
}

.choose a{
    font-style: italic
}

.form input {
    border: 1px solid #753;
    border-radius: 3px;
    font-size: 16px;
    margin: 4px;
    width: 42px;
}

.pay_button {
    position: relative;
    width: 240px;
    float: right;
    margin: 12px 15px 10px auto;
    display: inline-block;
}

.pay_button a{
    font-size: 12pt;
    font-weight: bold;
    color: #cc0000;
    float: left;
    margin-top: 5px;
    display: inline-block;
}

.pay_button button {
    border: 1.8px solid #e4d4c2;
    border-radius: 5px;
    float: right;
    width: 100px;
    height: 30px;
    font-size: 12pt;
    font-weight: bold;
    color: #7a390b;
    background: #fef0c9;
    box-shadow: 9px 10px 5px #e7e4d9;
}

.pay_button button:active {
    width: 110px;
    height: 35px;
    font-size: 14pt;
}

.pay_button button:hover {
    color: #3b1f0c;
    background: #f9e7cb;
}

.sum {
    font-size: 18pt;
    font-weight: bold;
    color: #776556;
    float: left;
    margin-left: 10px;
}
